In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine("sqlite:///data/kbo_database.db")

In [4]:
df_address = pd.read_sql("SELECT * FROM address LIMIT 5", engine)
df_address.head()

,EntityNumber,TypeOfAddress,CountryNL,CountryFR,Zipcode,MunicipalityNL,MunicipalityFR,StreetNL,StreetFR,HouseNumber,Box,ExtraAddressInfo,DateStrikingOff
0,0200.065.765,REGO,None,None,9070,Destelbergen,Destelbergen,Panhuisstraat,Panhuisstraat,1,None,None,None
1,0200.068.636,REGO,None,None,9000,Gent,Gent,Stropstraat,Stropstraat,1,None,None,None
2,0200.171.970,REGO,None,None,9000,Gent,Gent,Brabantdam,Brabantdam,101,None,None,None
3,0200.245.711,REGO,None,None,9500,Geraardsbergen,Geraardsbergen,Hoge Buizemont,Hoge Buizemont,247,None,None,None
4,0200.305.493,REGO,None,None,9520,Sint-Lievens-Houtem,Sint-Lievens-Houtem,Gentsesteenweg,Gentsesteenweg,1B,None,None,None

In [5]:
import os
print(os.getcwd())

c:\Users\herms\Desktop\BeCode-Bauman\TheHill_Projects\sql-project

In [6]:
%load_ext sql
%sql sqlite:///C:/Users/herms/Desktop/BeCode-Bauman/TheHill_Projects/sql-project/data/kbo_database.db

In [7]:
%%sql

SELECT * FROM address 
LIMIT 5;

 * sqlite:///C:/Users/herms/Desktop/BeCode-Bauman/TheHill_Projects/sql-project/data/kbo_database.db
Done.

KeyError: 'DEFAULT'